<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<display-name>asd</display-name>
	 

	<servlet>
		<servlet-name>ServletLoginSensor</servlet-name>
		<servlet-class>dad.ServletLoginSensor</servlet-class>
	</servlet> 


	<servlet-mapping>
		<servlet-name>ServletLoginSensor</servlet-name>
		<url-pattern>/ServletLoginSensor</url-pattern>
	</servlet-mapping>

</web-app>